@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
	/* TOKYO NIGHT DARK PALETTE */
	--tnd-lilac: #bb9af7;
	--tnd-cyan: #2ac3de;
	--tnd-green: #9ece6a;
	--tnd-yellow: #e0af68;
	--tnd-orange: #ff9e64;
	--tnd-red: #f7768e;

	--tnd-dark: #1a1b26;
	--tnd-light: #c0caf5;
	--tnd-gray: #414868;

	/* TOKYO NIGHT LIGHT PALETTE */
	--tnl-lilac: #5a3e8e;
	--tnl-cyan: #006c86;
	--tnl-green: #385f0d;
	--tnl-yellow: #8f5e15;
	--tnl-orange: #965027;
	--tnl-red: #8c4351;

	--tnl-gray: #6c6e75;
	--tnl-light: #e6e7ed;
	--tnl-dark: #343b58;

	/* Default theme values */
	--bg: var(--tnd-dark);
	--fg: var(--tnd-light);
	--muted: var(--tnd-gray);

	--color-primary: var(--tnd-green);
	--color-secondary: var(--tnd-cyan);
	--color-accent: var(--tnd-lilac);
	--color-muted: var(--tnd-gray);

	/* --bg: var(--tnl-light); */
	/* --fg: var(--tnl-dark); */
	/* --muted: var(--tnl-gray); */
	/**/
	/* --color-primary: var(--tnl-cyan); */
	/* --color-secondary: var(--tnl-cyan); */
	/* --color-accent: var(--tnl-liliac); */
	/* --color-muted: var(--tnl-gray); */
}

[data-theme='tokyonight-dark'] {
	--bg: var(--tnd-dark);
	--fg: var(--tnd-light);
	--muted: var(--tnd-gray);

	--color-primary: var(--tnd-green);
	--color-secondary: var(--tnd-cyan);
	--color-accent: var(--tnd-lilac);
	--color-muted: var(--tnd-lime);
}

[data-theme='tokyonight-light'] {
	--bg: var(--tnl-light);
	--fg: var(--tnl-dark);
	--muted: var(--tnl-gray);

	--color-primary: var(--tnl-green);
	--color-secondary: var(--tnl-cyan);
	--color-accent: var(--tnl-lilac);
	--color-muted: var(--tnl-lime);
}

@theme {
	--font-roboto: 'Roboto Mono', monospace;
	--font-doto: 'Doto', monospace;

	/* Backgrounds */
	--color-background: var(--bg);

	/* Foregrounds */
	--color-foreground: var(--fg);

	/* Muted */
	--color-muted: var(--color-muted);

	--color-primary: var(--color-primary);
	--color-secondary: var(--color-secondary);
	--color-accent: var(--color-accent);
}

html {
	@apply font-roboto;
}

body {
	@apply flex min-h-dvh flex-col items-center justify-center bg-background p-4;
}

body:before {
	content: '';
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
	width: 100vw;
	height: 100dvh;
	position: fixed;
	top: 0px;
	background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0.5px, transparent 1px);
	background-size: 20px 20px;
	mask: linear-gradient(-150deg, white 0%, transparent 30%, transparent 70%, white 80%);
}

body::after {
	content: '';
	pointer-events: none;
	z-index: -1;
	width: 100vw;
	height: 100dvh;
	position: fixed;
	top: 0;
	left: 0;

	background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0.5px, transparent 1px);
	background-size: 20px 20px;

	/* Combine mouse-driven glow with base visibility mask */
	mask-composite: intersect;
	mask-image:
		radial-gradient(
			150px circle at var(--mx, 50%) var(--my, 50%),
			white 0%,
			rgba(255, 255, 255, 0.8) 20%,
			rgba(255, 255, 255, 0.3) 50%,
			transparent 80%
		),
		linear-gradient(-150deg, white 0%, transparent 30%, transparent 70%, white 80%);

	transition: mask 0.05s linear;
}

@utility background-dots {
	@apply bg-fixed;
	background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
	background-size: 20px 20px;
}

@utility background-lines {
	@apply bg-fixed;
	background-image: repeating-linear-gradient(
		315deg,
		rgba(255, 255, 255, 0.06) 0px,
		rgba(255, 255, 255, 0.06) 1px,
		rgba(255, 255, 255, 0.02) 2px,
		transparent 1px,
		transparent 10px
	);
}
